---
key: 1
title: PROJECTS
permalink: /projects/
excerpt: VIRTUAL REALITY - ENGINEERING 
image: pic01.jpg
background-image: mountainVR.jpg
---
{%
if site.social.linkedin-square %}
<div class="table-wrapper">
  <table class="alt"><tbody><tr><td style="text-align: center;">Visit my
  <a target="_blank" href="{{ site.social.linkedin-square }}">LinkedIn profile</a></td>
  </tr></tbody></table>
</div>{%
endif %}
{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{%
endif
%}
 
  <header>
    <h2>Ellis Island Virtual Reality Project</h2>
      <h4>Lead Artist</h4>
        <p>Setember 2014 - June 2016</p>
  </header>
  <p>The Ellis Island project is a virtual reality simulation of New York City’s 1920 Ellis Island. In partnership with the National Park Service, our team of high school students modeled and designed a digital 3D version of this historically significant site.</p>
  <p>With the use of the Oculus Rift and the HTC Vive for a 360 degree viewpoint, the simulation enables the player to walk through a historical 1920 version of one of Ellis Island’s main buildings: the Registry Room. There, the player is able to meet different immigrants waiting in line and ask them about their family, country, future motives, and more.</p>
  <p>The programs we used include Unity, Autodesk Maya, Adobe Photoshop, Blender, MakeHuman, Quixel, and Arduino. </p>

  <hr />

  <header>
    <h2>Hacker Heist</h2>
      <h4>Lead Artist</h4>
      <h4>Won 2nd Place at hackBCA III</h4>
        <p>April 2 - 3, 2016</p>
  </header>
  <p>Hacker Heist is a 3 person, asynchronous virtual reality game. The game's setting takes place in the midst of the night at a museum, in which a burglar, from a first person VR perspective in the Oculus Rift, attempts to steal treasures and escape. The 2 other players act as security guards and view the museum map from a top-down perspective, hunting down the burglar with flashlights.</p>
  <p>In the 24 hours that we had, we used the programs Unity, Arduino, Autodesk Maya, and Adobe Photoshop to design, code, and 3D model the game. </p>

  <hr />

  <header>
    <h2>Knighthawk</h2>
    <h4>Engineering Capstone Project</h4>
      <p>September 2015 - June 2016</p>
  </header>
  <p>Knighhawk is a 3-axis motion platform that is designed to simulate flying like a bird in virtual reality using the Oculus Rift. This senior engineering capstone project was inspired by Birdly, which was designed by Max Rheiner.</p>

  <hr />

  <header>
    <h2>Blink³</h2>
    <h4>Artist </h4>
    <h4>hackBCA II Project</h4>
      <p>March 28 - 29, 2015</p>
  </header>
  <p>Blink³ is a virtual reality puzzle platformer game created by five high school students at a local hackathon, hackBCA II. It uses the Oculus Rift headset display to enable a full 360 degree environment. Additionally, a makeshift hat with four CPU fans attached was made to give the sensation of wind when moving in different directions in game.</p>
  <p>There are two different worlds in the game (orange and blue) that the player can “blink” between. The motive is to jump across multiple platforms in order to reach the sphere at the end of each level. Sometimes, barriers and obstacles will block the path in one world, forcing the player to “blink” to the other world in order to continue forward.  </p>
  <p>In the 24 hours that we had, we used the programs Unity, Arduino, Autodesk Maya, and Adobe Photoshop to design, code, and 3D model the game. </p>


