<header class="siteheader">

  <div class="siteheader__navbar">
    <div class="container  clearfix">

      <p class="logo"><a href="/"><img src="/img/logo_print.png" width="122" height="16" alt="webstoemp"></a></p>

      {% include nav.html %}

    </div>
  </div>

  {% if page.banner == true %}
  <div class="siteheader__banner  siteheader__banner--2" role="banner" style="background-image: url(../img/banners/banner.png)">
    <div class="container  animation-slide-in">
      <h1 class="banner-title">Lillian Hong</h1>
      <h2 class="banner-tagline">Bergen County Academies</h2>
      <p><a href="/work/" class="banner-button">Portfolio</a></p>
    </div>
  </div>
  {% endif %}

</header>
