---
layout: default
title: "Web design and development"
excerpt: "Selected case studies and presentation of my work process."
current_nav: work
---

<main class="maincontent" role="main">

  <section class="pagemodule">
    <div class="intromodule">
      <h2 class="intromodule__title">Portfolio</h2>
      <div class="intromodule__text">
        <p>Resume and artwork.</p>
      </div>
    </div>

    {% assign projects = site.projects | sort: 'date' | reverse %}
    {% for item in projects limit:8 %}

      {% if forloop.first %}<ul class="grid  grid--spaced"><li class="grid__unit  medium-span-6of12  large-span-4of12">{% endif %}

        <article class="project">
          <a href="{{ item.url }}">
            <p class="imgcontainer  project__image">
              <span class="project__overlay"></span>
              <img src="{{ item.project_thumbnail | prepend:'/img/projects/' }}" class="imgfluid" alt="{{ item.title }}">
            </p>
            <h2 class="project__title">{{ item.title }}</h2>
            <p class="project__description">{{ item.project_tagline }}</p>
          </a>
        </article>

      {% if forloop.last %}</li></ul>{% else %}</li><li class="grid__unit  medium-span-6of12  large-span-4of12">{% endif %}

    {% endfor %}

    <p class="buttoncontainer  aligncenter"><a href="/contact/" class="button">Contact</a></p>
  </section>

  <section class="pagemodule">

    <div class="intromodule">
      <h2 class="intromodule__title">Untitled</h2>
      <div class="intromodule__text">
        <p>Under Construction</p>
      </div>
    </div>
    <ol class="workflow  grid  grid--center">
      <li class="grid__unit  medium-span-5of12">
        <h3 class="h4  h4--notop">Title</h3>
        <p class="workflow__tagline">Description</p>
        <p>Sample text</p>
      </li><!--
   --><li class="grid__unit  medium-span-5of12">
        <h3 class="h4  h4--notop">Title</h3>
        <p class="workflow__tagline">Description</p>
        <p>Sample text</p>
      </li><!--
   --><li class="grid__unit  medium-span-5of12">
        <h3 class="h4  h4--notop">Title</h3>
        <p class="workflow__tagline">Description</p>
        <p>Sample text</p>
      </li><!--
   --><li class="grid__unit  medium-span-5of12">
        <h3 class="h4  h4--notop">Title</h3>
        <p class="workflow__tagline">Description</p>
        <p>Sample text</p>
      </li><!--
   --><li class="grid__unit  medium-span-5of12">
        <h3 class="h4  h4--notop">Title</h3>
        <p class="workflow__tagline">Description</p>
        <p>Sample text</p>
      </li><!--
   --><li class="grid__unit  medium-span-5of12">
        <h3 class="h4  h4--notop">Title</h3>
        <p class="workflow__tagline">Description</p>
        <p>Sample text</p>
      </li>
    </ol>
  </section>

</main>
